*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 120%;
    background: #ffffff;
}
.header{
    width: 30%;
    margin: 50px auto 0px;
    color: aqua;
    background-color: rgb(189, 113, 0);
    text-align: center;
    border: 1px solid #b8c4de;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

form, .content {
    width: 30%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #b8c4de;
    background: #ffffff;
    border-radius: 0px 0px 10px 10px;
}
.input-group{
    margin: 10px 0px 10px 10px;
}
.input-group labal {
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
}
.btn{
    padding: 10px;
    font-size: 15px;
    color: rgb(10, 10, 10);
    background: rgb(230, 23, 23);
    border: none;
    border-radius: 5px;

}
.error{
    width: 92%;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #a94442;
    color: #a94442;
    background: #ffffff;
    border-radius: 5px;
    text-align: left;

}
.success{
    color: rgb(255, 255, 255);
    background: blueviolet;
    border: 1px solid #b8c4de;
    margin-bottom: 20px;
}